// ****** Minimal CSS Reset *****
// https://alligator.io/css/minimal-css-reset/

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ******* The styles below should be removed ***********//
@font-face {
  font-family: 'My-custom-font';
  src: url('../assets/Lato-Bold.woff') format('woff');
}

body {
  font-family: 'My-custom-font', Helvetica, Arial, sans-serif;
  background: url('../assets/background.svg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $color-secondary;
  font-size: 6vw;
  text-align: center;
  margin-bottom: 3vw;
}

img {
  width: 18vw;
}
